body {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    line-height: 1.6;
    margin: 0;
}

section {
    padding: 20px 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
